<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container mt-5 mb-5">
		<a
			class="btn"
			th:href="@{/view/}+${factura.cliente.id}"
		>&laquo; Regresar</a>
		<h2
			class="text-center text-secondary border boder-success"
			th:text="${titulo} + ${factura.cliente.nombre} + ' ' + ${factura.cliente.apellido}"
		></h2>
		<form
			th:action="@{/factura/form}"
			th:object="${factura}"
			method="post"
		>
			<input
				type="hidden"
				th:field="*{id}"
			/>
			<div class="form-floating mb-3">
				<textarea
					th:field="*{descripcion}"
					class="form-control"
					th:errorclass="'alert-danger'"
					id="descripcion"
					placeholder="Descripcion"
				/></textarea>
				<label for="descripcion">Descripcion</label> <small
					class="text-danger"
					th:if="${#fields.hasErrors('descripcion')}"
					th:errors="*{descripcion}"
				></small>
			</div>
			<div class="form-floating mb-3">
				<input
					type="text"
					id="buscar"
					name="buscar"
					class="form-control"
					placeholder="Buscar producto"
				/> <label for="buscar">Buscar producto</label>
			</div>
			<table th:replace="factura/plantilla-items :: itemsFactura"></table>
			<table
				id="cargarItemProductos"
				class="table table-sm table-striped table-hover"
			>
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Precio</th>
						<th>Cantidad</th>
						<th>SubTotal</th>
						<th>Eliminar</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
			<h5>
				Total <span id="total">0</span>
			</h5>
			<div class="text-center col-12 mt-3">
				<button
					class="btn btn-lg btn-primary"
					type="submit"
				>Guardar</button>
			</div>
		</form>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
	<script th:replace="factura/js/autocomplete :: javascript"></script>
</body>
</html>